body {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grey_wash_wall.png')
}
.init_hidden {
  display: none;
}
.ig-ja-border {
  border: 1px dotted #000;
}

.container {
  margin-top: 20%;
}

/* Font Styles
///////////////////////// */
ul li p {
  font-size: 1.5em;
}

.ig-ja-content h2 {
  text-decoration: underline;
}

.ig-ja-content p {
  font-size: 16px;
}


/* List Styles
////////////////////////////*/

.ig-ja-bold p {
  font-weight: bold;
}

/* Styles for smaller screens
////////////////////////////// */
@media screen and (max-width: 375px) {
    ul li p {
    font-size: 1.71428571428571em;
  }

.container {
  margin-top: 0;
}


}
